<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl-pl">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Imię Nazwisko" />
   <link href="http://sigma.inf.ug.edu.pl/~login_na_sigmie/blog/atom.xml" rel="alternate" 
         title="Imię Nazwisko" type="application/atom+xml" />

   <link rel="stylesheet" href="css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="css/blog.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site span-21"><!--  showgrid -->

  <div class="span-21" id="header">
    <div id="logo" class="push-1 span-7">
      <a href="/~login_na_sigmie/blog">MÓJ@BLOG</a>
    </div>
    <div class="span-13 last">
      <div class="append-7" id="links">
        <a href="/~login_na_sigmie">home</a>
      </div>
    </div>
  </div>

  {{ content }}

</div>

</body>
</html>
